.footer {
  position: absolute;
  bottom: 0;
  height: 230px;
  width: 100%;
  background-color: #ececec;
  display: flex;
  justify-content: center;
}
.footer__sub-box {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-sizing: border-box;
}
.footer__copyright {
  position: relative;
  bottom: -60px;
}
.footer__title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #604f41;
}
.footer__text {
  margin: 5px 0;
  color: #7c726b;
}
.footer__social-box {
  flex-direction: row;
  justify-content: flex-end;
}
.footer__icon {
  color: #604f41;
  transform: scale(1.1);
  margin-right: 20px;
}
.footer__icon a {
  color: #604f41;
  transform: scale(1.1);
  margin-right: 20px;
}
